/*@import url(http://fonts.googleapis.com/css?Philosopher&subse:100=cyrillic);*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&subset=latin,cyrillic);

* {padding: 0;
    margin: 0;
}
.navbar-custom1 .nav > li > a{color:#e0e0dd;}
.navbar-custom1 .nav > li > a:hover{color:white;}
.navbar-custom1 .nav > li.active > a {color:white;}
.navbar-custom1 .navbar-brand {color:#e0e0dd;}

/*-- change navbar dropdown color --*/
.navbar-custom1 .navbar-nav .open .dropdown-menu>li>a,.navbar-custom1 .navbar-nav .open .dropdown-menu {
    background-color: #11bb11;
    color:#ffffff;
}

/*-------- Header  ----------------*/
.logo_img{
    padding: 20px 10px;
    margin-right: 10%;
    float: right;
}
.telepfon_frame{
    width: 100%;
    padding: 20px 10px 6px 14px;
    float: left;
}
.telephon_img{
    float: left;
    margin-right: 8px;
}
.telephon_text{
    padding-top: 6px;
    font-size: x-large;
    font-weight: bold;
}



.stylish-input-group .input-group-addon{
    background: white !important;

}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;

}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-width{
    width: 70%;
    padding: 4px 10px;
}


/*--------------  body  -------------------*/
.lead{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 10px;
    padding-left: 4px;
}

#content {width: 100%;
    padding: 0px 30px;
    margin: 0px auto;
}

.text22 {font-family: 'Ubuntu', sans-serif;}
.text23 {font-family: 'PT Sans Narrow', sans-serif;}


body h1{
    font-size: 40px;
    padding-left: 10px;
    /* font-family: 'Philosopher&subse';*/
}

body h2{font-size: 26px;}
body a{
    font-size: 16px;
    padding-left: 10px;
}


/*-------- Для этикетки --------------*/

.productbox {
    background-color:#ffffff;
    overflow: hidden;
	padding:10px;
	margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

/*-------- Корзина ----------*/

.table_cap{
    font-size: small;
    color:#adadad;

}
.outbor{
    border:1px;
    /*padding:10px;*/
    background-color: white;
}

.cart-header{
    padding:10px;
    background-color: #5cb85c;
    font-size: large;
    color: white;
}
.input_44{
    width: 10%;
}
.input_45{
   width: 80%;
}
.hor_line_10{
    height: 1px;
    background-color: #999999;
    margin: 0 20px 0 20px;
}

.summ{
    height:90px;
}

.but_order{padding: 28px;}
.price_order{padding:30px 20px;  }
.arrow_cart{padding: 30px 20px;}
.arrow_cart a{
    font-size: small;
    text-decoration: underline;
}
.arrow_cart_2 {
    font-size: small;
    text-decoration: underline;
}

.summ_row{}
#price_summ{
    margin-left: 6px;
    font-size: large;
    color: #2e6da4;
}
/* --------- order  ----------------*/
.icon{
    padding: 22px 6px;
}
.kontact{
    margin-top: 20px;
    padding: 4px 0;
    font-size: medium;
    font-weight: bold;
    color:#2ca02c;
}
.input_pole{
    font-size: small;
    color: #adadad;

}
.hor_line_12{
    height: 1px;
    background-color: #2ca02c;;
    margin: 0 20px 0 20px;
}
.text24{
    padding:30px 30px 30px 10px;
    font-size: small;
    color: #1b6d85;
}
.icon_tel{
    margin: 4px 8px 4px 0;
    float:left;
}